
#diceImg {
    height: 250px;
    width: 250px;
}
.ctr {
    text-align: center;
    font-family: 'Comic Sans MS', 'Arial Black', sans-serif;
}
#sizeDiv {
    padding: 4px;
    margin: 10px;
    font-family: 'Franklin Gothic', 'Helvetica', sans-serif;
}

#curveDiv {
    padding: 2px;
    margin: 2px;
    font-family: 'Geneva', 'Tahoma', sans-serif;
}

.curved {
    display: inline-block;
    font-size: 2.2em;
    padding: 3px;
    margin: 1px;
}