body {
    font-size: 1em;
    padding: 2px 2em;
    margin: 0;
}

.ctr {
    text-align: center;
    font-family: 'Comic Sans MS', 'Arial Black', sans-serif;
}

.headerSpan {
    padding-bottom: 2.1em;
    border-bottom: 4px ridge #dedede;
}

.curved {
    display: inline-block;
    font-size: 2.2em;
    font-family: "Georgia", "Cambria", serif;
    color: red;
    padding: 3px;
    margin: 1px;
}

.evenColorCLass {
    font-size: 1.9em;
    font-family: sans-serif;
    color: #ab2222;
    vertical-align: middle;
}

.oddColorCLass {
    font-size: 2.6em;
    font-family: monospace;
    color: #3333ff;
}

#diceImg {
    height: 250px;
    width: 250px;
}

#sizeDiv {
    padding: 4px;
    margin: 10px;
    color: #008800;
    font-family: 'Franklin Gothic', 'Helvetica', sans-serif;
}

#curveDiv {
    padding: 2px;
    margin: 2px;
    font-family: 'Geneva', 'Tahoma', sans-serif;
}

#colorsDiv {
    display: inline-block;
    float: right;
    padding: 8px;
    margin: 10px;
}
